* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(236, 126, 36);
    font-family: 'Space Mono', monospace;
}

header {
    padding: 16px 0;
    background-color: rgb(5, 2, 0);
    color:bisque;
}

header img {
    height: 150px;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header #nav-style {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Gajraj One', cursive;
}

header h1 {    
    font-weight: bold;
}

header #nav-style li {
    display: inline;
    margin-left: 16px;
    font-size: 25px;;
}

header #nav-style li a {
    text-decoration: none;
    color: bisque;
}

section .container {
    margin-top: 18px;
    font-size:22px
}

.articles {
    margin-top: 18px;
    display: flex;
    text-align: center;
    align-items: center;
}

.articles img {
    height: 300px;
}

#members {
    background-color:rgb(5, 2, 0);
    color:rgb(236, 126, 36);
}

.memb-style img {
    height: 300px;
    margin-bottom: 32px;
}

.memb-style div {
    display:inline-flex;
}

.memb-style ul {
    margin-left: 50px;
}

#contact {
    background-color: rgb(236, 126, 36);
    color: rgb(5, 2, 0);
}

#contact h2, #contact h3, 
#members h2 {
    margin-bottom: 18px;
}

.contact-methods {
    display: flex;
    justify-content:space-between;
    margin-right: 180px;
}

.contact-methods input, 
#position {
    display: block;
    width: 280px;
    margin-bottom: 8px;
    padding: 4px;
    font-family: 'Space Mono', monospace;
    font-size: 14px;
}

button {
    background-color: rgb(5, 2, 0);
    color: rgb(236, 126, 36);
    width:280px;
    padding:4px;
    border: none;
    cursor: pointer;
    font-family: 'Space Mono', monospace;
    font-size: 14px;
}

blockquote {
    width: 520px;
    margin-bottom: 16px;
    font-size: 20px;
    font-style:oblique;
    text-align:center;
}

footer {
    margin-top: 100px;
    padding: 35px;
    background-color: rgb(5, 2, 0);
    color: rgb(236, 126, 36);
    text-align:center;
}

.copy-icone {
    font-size: 30px;
    position: relative;
    top: 11px;
}