* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(236, 126, 36);
    font-family: 'Space Mono', monospace;
}

header {
    padding: 16px 0;
    background-color: rgb(5, 2, 0);
    color:bisque;
}

header img {
    height: 150px;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    margin-top: 32px;
    font-size:20px
}

header #nav-style {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Gajraj One', cursive;
}

header h1 {    
    font-weight: bold;
}

header #nav-style li {
    display: inline;
    margin-left: 16px;
    font-size: 25px;;
}

header #nav-style li a {
    text-decoration: none;
    color: bisque;
}


#story .container img,
#members .container img {
    height:350px;
    margin-bottom: 32px;
}

#story .container, .story-style {
    height: 100%;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.story-style p {
    margin-left:100px;
    margin-right: 100px;
    text-align: center;
    font-size: 18px;
}

#members .container {
    height: 100%;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
}

#members {
    background-color:rgb(5, 2, 0);
    color:rgb(236, 126, 36);
}

#members .container h2 {
    margin-top: 32px;
    margin-bottom: 32px;
}

.memb-style img {
    margin-left: 110px;
    margin-bottom: 16px;
}

.memb-style {
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.memb-style ul {
    margin-left: 100px;
    margin-bottom: 100px;
}

#contact {
    background-color: rgb(236, 126, 36);
    color: rgb(5, 2, 0);
}

#contact h2, #contact h3 {
    margin-bottom: 18px;
}

.contact-methods {
    display: flex;
    justify-content:space-between;
    margin-right: 180px;    
    margin-bottom: 150px;
}

.contact-methods input, 
#position {
    display: block;
    width: 280px;
    margin-bottom: 8px;
    padding: 4px;
    font-family: 'Space Mono', monospace;
    font-size: 14px;
}

button {
    background-color: rgb(5, 2, 0);
    color: rgb(236, 126, 36);
    width:280px;
    padding:4px;
    border: none;
    cursor: pointer;
    font-family: 'Space Mono', monospace;
    font-size: 14px;
}

blockquote {
    width: 520px;
    margin-bottom: 16px;
    font-size: 20px;
    font-style:oblique;
    text-align:center;
}

footer {
    padding: 35px;
    background-color: rgb(5, 2, 0);
    color: rgb(236, 126, 36);
    text-align:center;
}

.copy-icone {
    font-size: 30px;
    position: relative;
    top: 11px;
}